.root {
    background: radial-gradient(63.06% 63.06% at 50.04% 0%, rgba(138, 143, 151, 0.4) 0%, rgba(15, 28, 74, 0.4) 100%), linear-gradient(180deg, rgba(1, 5, 20, 0.07) 0%, rgba(143, 146, 159, 0.07) 100%);
    border-radius: 16px;
    border: 1px solid #284F93;
}