.background {
    height: 90vh;
    padding: -7.5rem 8rem 0 8rem;
}

@media (max-width:640px) {
    .background {
        padding: 0 20px;
    }    
}

@media (max-width:1023px) and (min-width:641px) {
    .background {
        padding: 0 50px;
    }    
}