.line {
    width: 77px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #35CFD5), color-stop(100%, #0D1420));
    background: -moz-linear-gradient(left, #35CFD5 0%, #0D1420 100%);
    background: -webkit-linear-gradient(left, #35CFD5 0%, #0D1420 100%);
    background: -o-linear-gradient(left, #35CFD5 0%, #0D1420 100%);
    background: -ms-linear-gradient(left, #35CFD5 0%, #0D1420 100%);
    background: linear-gradient(to right, #35CFD5 0%, #0D1420 100%);
}

@media (max-width:1024px){
      
    .image_wrapper {
        max-width: none;
        transform: scale(0.7);
        margin-top: -6rem;
    }
}

